.pageContent {
    width:auto;
    margin: 20px;
    text-align: center;
    padding: 15px;
    align-items: center;
}

.bothForms {
    background-color: rgb(215, 215, 215);
    width: 30%;
    margin-left: 35%;
    border-style: double;
    padding: 10px;
}

input {
    margin: 5px;
}

.inputForms {
    text-align: right;
    margin-right: 25%
}